@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
#header{
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position :fixed;
    top: 0;
    z-index: 10;
    text-align: center;
}

#mainnav{
    margin: 20px;
    text-align: center;
    align-items: center;
}

#mainnav a{
	color: #000;
    font-size: 20px;
}

.panel ul li{
    display: inline-block;
    padding: 10px 20px;
}

/* footer */

#footer{
	clear: both;
	padding: auto;
	text-align: center;
	font-size: 12px;
}

/* body */

body {
    font-family: "Noto Sans JP", sans-serif;
}

/* SEC01 PROFILE
------------------------------------------------------------*/

#profile {
    height: auto;
    padding: 80px 0px;
    background-color: #ffffff;
    text-align: center;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profileImage {
	position: relative;
	width: 400px;
	height: 600px;
	overflow: hidden;
	margin: 5px;
	
}

.profileImage img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	z-index: auto;
}

.profileDescription {
	background: rgb(0,0,0,0.1);
	padding: 40px;
	max-width: 800px;
	backdrop-filter: blur(20px);
	border-radius: 5px;
}

h3 {
	margin: 5px;
}

/* SEC02 INTEREST
------------------------------------------------------------*/

#interest {
    height: auto;
    padding: auto;
    background-color: #f7f7f7;
    text-align: center;
}

/* SEC03 PUBLICATION
------------------------------------------------------------*/

#publication {
    height: auto;
    padding: auto;
    background-color: #ffffff;
    text-align: center;
}

/* SEC04 CONTACT
------------------------------------------------------------*/

#contact {
    height: auto;
    padding: auto;
    background-color: #f7f7f7;
    text-align: center;
}

/* link */
a {
    color: #0066ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* SNS links */

/*
.scholar {
	color: ;
    margin-right: 10px;
}
*/

.facebook {
    color: #3b5998;
    margin-right: 10px;
}

.linkedin {
    color: #3F3FE7;
    margin-right: 10px;
}

.twitter {
    color: #55acee;
	margin-right: 10px;
}

.github {
	color: #000000;
}

.btn {
    padding: 8px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    font-size: 2rem;
}
  
.btn:hover {
    opacity: 1;
}